@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--color1: #fff;
	--color2: #000;
	--color3: #f150bf;
	--color4: #c3aeff;
	--color5: #180729;
	--color6: #6c727d;
	--color7: #552882;
	--color8: #f8f9fa;
	--font1: 'Coda Caption', sans-serif;
	--font2: 'Rubik', sans-serif;
	--font3: 'Courgette', cursive;
}

/* Navbar Styles */
.navbar {
	padding: 0;
	padding: 25px 0;
	background: transparent;
	width: 100%;
	transition: background-color .5s ease;
}
.navbar-brand {
	color: var(--color1);
	font-family: var(--font1);
}
.navbar-brand:hover {
	color: var(--color1);
}
.navbar-brand span {
	color: var(--color3);
}
.navbar-expand-md .navbar-nav .nav-item .nav-link {
	padding: 0;
	padding: 0 15px;
	text-transform: capitalize;
	font-family: var(--font2);
	font-size: 16px;
	font-weight: 600;
	color: var(--color1);
	transition: .5s ease;
}
.navbar-expand-md .navbar-nav .nav-item .nav-link:hover {
	background-color: var(--color7);
	border-radius: 50px;
}
.navbar-expand-md .navbar-nav .nav-item .nav-link.active {
	background-color: var(--color7);
	border-radius: 50px;
}
/* navbar color change on scroll */
nav.navbar.scrolled {
	background: var(--color5);	
}
.navbar-toggler-icon {
	background-image: url("../images/icons8-menu-512.png");
}

@media screen and (max-width: 767px) {

	.navbar-expand-md .navbar-nav .nav-item .nav-link {
		padding: 10px 8px;
	}
}
/* End of Navbar Styles */

/* Banner Styles */
.banner {
	position: relative;
}
.banner img {
	width: 100%;
	height: 625px;
}
.carousel-indicators li {
	background-color: var(--color3);
	height: 8px;
	width: 60px;
}
.carousel-caption {
	position: absolute;
	padding: 0;
	top: 40%;
	left: 10%;
	text-align: left;
	width: 500px;
}
.carousel-caption h3 {
	font-family: var(--font3);
	color: var(--color3);
	font-size: 55px;
	text-transform: capitalize;
}
.carousel-caption p {
	font-family: var(--font2);
	color: var(--color4);
	font-size: 25px;
	text-transform: uppercase;
}
.carousel-control-prev,
.carousel-control-next {
	display: none;
}

@media screen and (max-width: 767px) {

	.carousel-caption {
		text-align: center;
		left: -16%;
	}
	.carousel-caption h3 {
		font-size: 25px;
	}
}
/* End of Banner Styles */

/* Services Atrea Styles */
.services {
	text-align: center;
	padding: 130px 0;
}
.services h3 {
	font-family: var(--font3);
	font-size: 35px;
	text-transform: capitalize;
}
.services p {
	font-family: var(--font2);
	font-size: 20px;
	color: var(--color6);
}
.services .service-box h5 {
	text-transform: uppercase;
	/*font-size: 16px;*/
	color: var(--color3);
}
.services .service-box p {
	font-size: 16px;
	color: var(--color6);
	font-family: var(--font2);
}
.service-box img,
.service-box h5,
.service-box p {
	margin: 20px 0;
}
hr.divider {
	margin: 40px 0;
}
.services .pad {
	padding-top: 60px;
}

@media screen and (max-width: 767px) {

	.services {
		padding: 30px 0;
	}
}
/* End of Services Atrea Styles */

/* Best Offers Styles */
.offers {
	text-align: center;
	padding: 130px 0;
	background: var(--color5);
}
.offers .pad {
	padding-top: 60px;
}
.offers h3 {
	font-family: var(--font3);
	text-transform: capitalize;
	font-size: 35px;
	color: var(--color1);
}
.offers p {
	font-family: var(--font2);
	font-size: 18px;
	color: var(--color1);
}
.offers .img-box .img-box-info h5 {
	color: var(--color3);
	text-transform: capitalize;
	font-size: 16px;
	margin-bottom: 20px;
}
.offers .img-box .img-box-info p {
	font-size: 14px;
	margin: 0;
}
.offers .img-box .img-box-info h5,
.offers .img-box .img-box-info p {
	text-align: left;
}
.offers .img-box .img-box-info {
	padding: 20px 18px;
}
.offers .img-box {
	border: 3px solid var(--color2);
}

@media screen and (max-width: 767px) {

	.offers {
		padding: 30px 0;
	}
}
/* End of Best Offers Styles */

/* About Us Styles */
.about {
	text-align: center;
	padding: 130px 0;
}
.about .pad {
	padding: 80px 0;
}
.about h3 {
	font-family: var(--font3);
	text-transform: capitalize;
	font-size: 35px;
	color: var(--color2);
}
.about p {
	font-family: var(--font2);
	font-size: 18px;
	color: var(--color6);
}
.about img {
	border-radius: 10px;
}
.about .about-info {
	text-align: left;
	padding: 50px 30px;
}
.about .about-info h4 {
	text-transform: capitalize;
}
.about .about-info p {
	color: var(--color6);
	font-size: 18px;
}

@media screen and (max-width: 767px) {

	.about {
		padding: 30px 0;
	}
	.about .about-info {
		padding: 0;
	}
	.about .pad {
		padding: 30px 0;
	}
}
/* End of About Us Styles */

/* Portfolio Area Styles */
.portfolio {
	text-align: center;
	padding: 130px 0;
}
.portfolio .pad {
	padding-top: 50px;
	padding-bottom: 20px;
}
.portfolio h3 {
	font-family: var(--font3);
	text-transform: capitalize;
	font-size: 35px;
}
.portfolio p {
	font-family: var(--font2);
	color: var(--color6);
	font-size: 18px;
}
.portfolio .gallery-box {
	width: 100%;
	height: 120%;
	padding: 0;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}
.portfolio .gallery-box img {
	margin-left: -30px;
	transform: scale(1.5);
	transition: .3s ease-in-out;
}
.portfolio .gallery-box:hover img {
	margin-left: 30px;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(45deg, #bf50a3 0%,#4774b2 100%);
	opacity: 0;
	pointer-events: none;
	transition: .3s ease;
}
.gallery-box:hover .overlay {
	opacity: 0.3;
	cursor: pointer;
}
a.icon {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	color: var(--color1);
}
.fa-search:hover {
	color: var(--color1);
}

@media screen and (max-width: 767px) {

	.portfolio {
		padding: 30px 0;
	}
}
/* End of Portfolio Area Styles */

/* Subscribe Area Styles */
.subscribe {
	background: var(--color5);
	padding: 48px;
}
.subscribe .inline-block {
	display: inline-block!important;
}
.subscribe h5 {
	padding-right: 30px;
	margin-right: 30px;
	color: var(--color1);
	text-transform: uppercase;
	margin-bottom: 0;
}
.subscribe p {
	color: var(--color1);
	font-size: 18px;
	margin-bottom: 0;
}
.subscribe .btn-pill {
	background: transparent;
	padding: 10px 25px;
	border: 1px solid var(--color1);
	border-radius: 50px;
	color: var(--color1);
	transition: .3s ease;
}
.subscribe .btn-pill:hover {
	background: var(--color1);
	color: var(--color5);
}
/* End of Subscribe Area Styles */

/* Our Team Styles */
.team {
	text-align: center;
	background: var(--color8);
	padding: 130px 0;
}
.team .pad {
	padding-top: 60px;
}
.team h3 {
	text-transform: capitalize;
	font-family: var(--font3);
	font-size: 35px;
}
.team p {
	font-family: var(--font2);
	color: var(--color6);
	font-size: 18px;
}
.team-box {
	background: var(--color1);
	box-shadow: 0px 6px 10px 0px rgba(176,176,176,0.75);
}
.team-info {
	padding: 25px;
}
.team-info h5 {
	text-transform: capitalize;
	font-size: 22px;
}
.team-info p {
	color: var(--color3);
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 16px;
}
ul.team-social {
	margin: 0;
}
ul.team-social li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
ul.team-social li a {
	color: var(--color3);
	transition: .3s ease;
}
ul.team-social li a:hover {
	color: var(--color7);
}

@media screen and (max-width: 767px) {

	.team {
		padding: 30px 0;
	}
}
/* End of Our Team Styles */

/* Price Area Styles */
.price {
	text-align: center;
	padding: 130px 0;
}
.price .pad {
	padding-top: 60px;
}
.price h3 {
	font-family: var(--font3);
	text-transform: capitalize;
	font-size: 35px;
}
.price p {
	font-family: var(--font2);
	font-size: 18px;
	color: var(--color6);
}
.price .price-box-item {
	border: 2px solid var(--color6);
	margin: 0 0 20px 0;
	box-sizing: border-box;
}
.price .price-box-item .price-heading h4 {
	color: var(--color3);
	text-transform: capitalize;
	font-size: 18px;
	padding: 50px 0;
	display: block;
}
.price .price-box-item .price-terms h5 {
	font-family: var(--font3);
	font-size: 40px;
	padding: 0 0 50px 0;
	color: var(--color2);
}
.price .price-box-item .price-container h5 {
	text-transform: capitalize;
	color: var(--color2);
}
.price .price-box-item .price-container ul {
	margin: 0;
}
.price .price-box-item .price-container ul li {
	list-style: none;
	text-transform: capitalize;
	font-size: 18px;
	font-family: var(--font2);
	padding: 10px 0;
	color: var(--color6);
}
.price .price-box-item .price-action {
	padding: 45px 0;
}
.price .price-box-item .price-action a {
	text-transform: capitalize;
	font-size: 18px;
	color: var(--color2);
}
.price .price-box-item .price-action .btn {
	border: 1px solid var(--color2);
	padding: 0;
	padding: 10px 25px;
	border-radius: 50px;
	transition: .3s ease;
}
.price .price-box-item .price-action .btn:hover {
	background: var(--color3);
	border: 1px solid var(--color3);
	color: var(--color1);
}

@media screen and (max-width: 767px) {

	.price {
		padding: 30px 0;
	}
}
/* End of Price Area Styles */

/* Contact Area Styles */
.contact {
	text-align: center;
	background: var(--color8);
	padding: 130px 0;
}
.contact .pad {
	padding-top: 40px;
}
.contact h3 {
	font-family: var(--font3);
	text-transform: capitalize;
	font-size: 35px;
}
.contact p {
	font-size: 18px;
	color: var(--color6);
}
form input[type="text"],
form input[type="email"] {
	width: 100%;
	height: 50px;
	padding: 0 30px;
	width: calc(100% - 60px);	
}
form input[type="text"]:focus,
form input[type="email"]:focus,
textarea:focus {
	outline: none!important;
	border: 1px solid var(--color3);
	box-shadow: 0 0 10px var(--color3);
}
textarea {
	width: 91%;
	padding: 5px;
	text-indent: 25px;
}
form input[type="submit"] {
	height: 60px;
	padding: 6px 30px;
	border: none;
	background: var(--color3);
	color: var(--color1);
	border-radius: 50px;
	transition: .3s ease;
}
form input[type="submit"]:hover {
	background: var(--color1);
	color: var(--color3);
	box-shadow: 0px 6px 10px 0px rgba(176,176,176,0.75);
}
.contact-card {
	background: var(--color1);
	width: 100%;
	border: 1px solid var(--color6);
	border-radius: 5px;
	margin-bottom: 30px;
}
.contact-card .contact-info {
	text-align: left;
}
.contact-card .contact-info h5 {
	text-transform: capitalize;
}
.contact-card .contact-info p {
	font-size: 16px;
}
.contact-card i {
	margin-top: 5px;
	padding-right: 30px;
	font-size: 25px;
	color: var(--color3);
}
.contact .map {
	padding-top: 50px;
}

@media screen and (max-width: 767px) {

	.contact {
		padding: 30px 0;
	}
}
/* End of Contact Area Styles */

/* Footer Styles */
footer {
	background: var(--color7);
	padding: 30px 0;
}
footer p {
	color: var(--color1);
	margin: 0;
	font-size: 13px;
}
footer ul.footer-social {
	margin: 0;
	float: right;
}
footer ul.footer-social li {
	list-style: none;
	display: inline-block;
	padding: 0 10px;
}
footer ul.footer-social li a {
	color: var(--color1);
	transition: .3s ease;
}
footer ul.footer-social li a:hover {
	color: var(--color3);
}

@media screen and (max-width: 767px) {

	footer ul.footer-social {
		float: left;
	}
	footer {
		padding: 20px 0;
	}
}
/* End of Footer Styles */





